.SignUpSection {

    display:  flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: #005959;
 width  : 50%;



}


.SignUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 400px;
    width: 400px;
    border-radius: 16px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.inputField {

    height: 30px;
    border-radius: 16px;
    padding : 10px; 
    width:  300px;
    font-size: 14px;
    border: none;
    background-color: #cccccc;
    outline-width: 0;
}

.submitButton {
 height: 30px;
    border-radius: 16px;
    padding : 10px; 
    background-color: #597c47;
    color : white;
    font-weight: bold;
    border: none;
    
}